<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div class="container">
    <p>Use this site to get your weather</p>
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id="message-location"></p>
    <p id="message-forecast"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>